@import 'tailwindcss';

@font-face {
    font-family: 'SoraVar';
    src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansVar';
    src: url('/public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')
        format('truetype');
    font-weight: 300 800;
    font-stretch: 75% 100%; /* width axis */
    font-display: swap;
}

@font-face {
    font-family: 'Anton';
    src: url('/fonts/anton/Anton-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}


.fontsora {
    font-family: 'SoraVar', sans-serif;
}

.fontopensans {
    font-family: 'OpenSansVar', sans-serif;
}

.fontanton {
    font-family: 'Anton', sans-serif;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.home-bg {
    background-image: url('/images/bluegirl.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    scale: 1.3;
    height: 100vh;
    max-width: 100vw;
}
